SECRET_KEY=django-insecure-e9j@1a#v%rw8!&_ihi%7%5*c$26uh^y9sdk%$^y#_6eg2@#4p^

#DB
DB_NAME=postgres2
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

#Smtp
EMAIL_HOST_USER=test@example.com
EMAIL_HOST_PASSWORD=asxlqkj

# Redis 
REDIS_HOST=redis
REDIS_PORT=6379

# elasticsearch
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
 
# AWS s3
AWS_ACCESS_KEY_ID=boilerplate_key_id
AWS_SECRET_ACCESS_KEY=boilerplate_access_key
AWS_STORAGE_BUCKET_NAME=users
AWS_S3_ENDPOINT_URL=http://localstack:4566